<div class="first-section">
  <div class="title">UpTask</div>
  <div class="subtitle">
    With UpTask, tracking tasks can finally become a lot easier. This way,
    everybody can just track all the homework and projects they need to do and
    see which due date is near. With only a few clicks away, your life can
    become 100 times easier.
  </div>
  <div class="buttons-container">
    <button routerLink="../signup" class="signup-button">
      Create your account
    </button>
    <span class="or-text">OR</span>
    <button routerLink="../login" class="login-button">
      Log into your account
    </button>
  </div>
</div>
