$color-purple: #6112e1;
$color-light-purple: #7e42df;
$color-light-grey: #b0b1b0;
$color-medium-light-grey: #8f928f;
$color-medium-grey: #707070;
$color-grey: #d6d7d6;
$color-dark-light-grey: #1e1e1e;
$color-dark-grey: #121212;
$color-black: #000000;
$color-white: #ffffff;
$color-light-red: #de8484;
$color-red: #ff0000;
$color-green: #91da91;
$color-dark-green: #2dc345;
