@import "../../../styles/global-colors";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  background: url("../../../assets/images/main-page-background.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Space Mono", monospace;
}

.first-container {
  background: linear-gradient(
    180deg,
    #6112e1 0%,
    rgba(18, 225, 188, 0.636755) 99.98%,
    rgba(225, 93, 18, 0.54) 99.99%,
    #12e1bc 100%
  );
  border-radius: 10px;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 25px;
}

.second-container {
  background: linear-gradient(180deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%);
  border-radius: 10px;
  padding: 15px 40px 15px 40px;
  width: calc(100% - 80px);
  margin: 0;
  height: auto;
}

.content-container {
  // margin: 1rem;
  border-radius: 10px;
  // padding: 30px 50px 30px 50px;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  padding: 5%;
  background-color: $color-purple;
  text-align: center;
  border-radius: 100%;
  font-size: 130px;
  margin: 21% 21% 0 21%;
  width: 48%;
  height: 60%;
}

.full-name {
  text-align: center;
  font-size: 3.65vw;
}

.avatar-container {
  width: 33%;
  align-self: flex-start;
  background-color: $color-white;
  border-radius: 10px;
  padding: 25px 50px auto 50px;
}

.right-container {
  height: 100%;
  width: 50%;
  margin-left: 71px;
}

.info-container {
  background-color: $color-white;
  border-radius: 10px;
  padding: 30px 50px 30px 50px;
  width: 55%;
}

.details-container {
  font-size: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 4vh;
}

.buttons-container {
  width: 100%;
  padding-top: 42px;
  display: flex;
  flex-direction: row;
}

button {
  height: 4rem;
  transition: 0.5s;
  width: 47%;
  color: $color-white;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
  font-size: 25px;
  animation: 1.5s ease-out 0s 1 firstRender;
}

button:first-child {
  background-color: $color-purple;
  border: none;
  margin-right: 6%;
}
button:first-child:hover {
  background-color: $color-light-purple;
}

button:nth-child(2) {
  background-color: $color-white;
  border: 2px solid $color-purple;
  color: $color-black;
}

.detail {
  font-size: 3.4vw;
  margin: 0;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.field {
  width: 100%;
  height: 8rem;
}

.view-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
}

.image {
  background-color: $color-grey;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

img {
  height: 40px;
  width: 40px;
}

.title-text {
  font-size: 30px;
  margin-left: 20px;
}

.task-data {
  font-size: 40px;
  line-height: 45px;
}

.name {
  text-overflow: ellipsis;
  //overflow: hidden;
  width: 27rem;
}

@media (max-width: 1200px) {
  .task-data {
    font-size: 3.5vw;
  }

  .full-name {
    font-size: 2vw;
  }

  .name {
    width: auto;
  }

  .avatar-container {
    width: 22%;
    padding: 1%;
  }

  .second-container {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }

  .field {
    height: auto;
  }

  .field p {
    margin: 10px 0 0 0;
  }
}

@media (max-width: 1000px) {
  button {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .full-name {
    font-size: larger;
  }

  .task-data {
    font-size: 24px;
    word-break: break-all;
  }

  .container {
    overflow: auto;
  }

  .content-container {
    flex-direction: column;
    justify-content: normal;
    padding: 0;
    row-gap: 2rem;
    align-items: center;
  }

  .avatar-container {
    width: 100%;
    height: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .info-container {
    width: calc(100% - 40px);
    padding: 30px 20px 30px 20px;
  }

  .buttons-container {
    flex-direction: column-reverse;
    row-gap: 10px;
    margin-top: 4vh;
    padding: 0;
  }

  .second-container {
    margin-left: 0;
  }

  .avatar {
    width: 20%;
    margin: 5% 21% 0 21%;
    height: auto;
  }

  button {
    width: 100%;
  }

  .title-text {
    font-size: 25px;
  }
}

@media (max-width: 280px) {
  .view-title {
    height: auto;
    flex-direction: column;
  }

  .view-title span {
    margin-left: 0;
  }
}
